# TP1 : Build the first Deep Learning NN with Keras

Our main goal is to predict the churn rate of a certain bank, that is, the customer who will leave this banking service. The predected variable (exited) is categorical, so we are dealing with a classification problem.

# 1- Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

# 2- Preprocessing data

In [2]:
# Importing the dataset using pandas
dataset = pd.read_csv('data.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## 2.1- Exploring data

In [3]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
dataset.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

## 2.2- Dividing data to features and targets

In [ ]:
# Create matrix of features and matrix of target variable.
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [ ]:
X[:,1:3]

array([['France', 'Female'],
       ['Spain', 'Female'],
       ['France', 'Female'],
       ...,
       ['France', 'Female'],
       ['Germany', 'Male'],
       ['France', 'Female']], dtype=object)

In [ ]:
X[100]

array([665, 'France', 'Female', 40, 6, 0.0, 1, 1, 1, 161848.03],
      dtype=object)

## 2.3- Encoding data

In [ ]:
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [ ]:
X[100]

array([665, 0, 0, 40, 6, 0.0, 1, 1, 1, 161848.03], dtype=object)

In [ ]:
X[:,1:3]

array([[0, 0],
       [2, 0],
       [0, 0],
       ...,
       [0, 0],
       [1, 1],
       [0, 0]], dtype=object)

In [ ]:
print(labelencoder_X_1.classes_)
print(labelencoder_X_2.classes_)

['France' 'Germany' 'Spain']
['Female' 'Male']

In [ ]:
print(labelencoder_X_1.inverse_transform([0,1,2,2,1,0]))
print(labelencoder_X_2.inverse_transform([0,1,1,0]))

['France' 'Germany' 'Spain' 'Spain' 'Germany' 'France']
['Female' 'Male' 'Male' 'Female']

## 2.4- One hot encoding data

In [ ]:
# one hot encoding the Geography dimension at the index 1 categorical_features = [1]
onehotencoder = OneHotEncoder(categorical_features = [1])
# it replace the second column (index=1) and replace it with 3 columns at the biggining of the matrix X
X = onehotencoder.fit_transform(X).toarray()
# We remove the first dimension X[:,0] because we just need 2 bits (dimensions, columns) instead of 3 bits 
X = X[:, 1:]

/media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [ ]:
# There is 10 features
print(X.shape)

(10000, 11)

In [ ]:
X[1]

array([0.0000000e+00, 1.0000000e+00, 6.0800000e+02, 0.0000000e+00,
       4.1000000e+01, 1.0000000e+00, 8.3807860e+04, 1.0000000e+00,
       0.0000000e+00, 1.0000000e+00, 1.1254258e+05])

## 2.5- Dividing data to training and test sets

In [ ]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## 2.6- Scaling data

In [ ]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# 3- Creating NN and training it

## 3.1- Building the Neuraul Network

In [ ]:
#Initializing Neural Network
classifier = Sequential()
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From /media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
/media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

/media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

## 3.2- Define all functions for compilation

1- optimizer : the optimization technique for Gradient descent

2- loss : the cost (loss) function

3- metrics : define what metrics are used for evaluation during training

In [ ]:
# Compiling Neural Network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
# Fitting our model 
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

WARNING:tensorflow:From /media/DATA/miniconda/envs/edx/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
8000/8000 [==============================] - 14s 2ms/step - loss: 0.4871 - acc: 0.7975
Epoch 2/100
8000/8000 [==============================] - 1s 176us/step - loss: 0.4256 - acc: 0.7982
Epoch 3/100
8000/8000 [==============================] - 1s 176us/step - loss: 0.4194 - acc: 0.7996
Epoch 4/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4153 - acc: 0.8214
Epoch 5/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4130 - acc: 0.8304
Epoch 6/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4107 - acc: 0.8336
Epoch 7/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4095 - acc: 0.8336
Epoch 8/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4076 - acc: 0.8344
Epoch 9/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4063 - acc: 0.8357
Epoch 10/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4051 - acc: 0.8370
Epoch 11/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.4048 - acc: 0.8357
Epoch 12/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4037 - acc: 0.8372
Epoch 13/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.4032 - acc: 0.8366
Epoch 14/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4026 - acc: 0.8375
Epoch 15/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4026 - acc: 0.8381
Epoch 16/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4022 - acc: 0.8381
Epoch 17/100
8000/8000 [==============================] - 2s 189us/step - loss: 0.4014 - acc: 0.8357
Epoch 18/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4016 - acc: 0.8379
Epoch 19/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4009 - acc: 0.8384
Epoch 20/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4005 - acc: 0.8376
Epoch 21/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.4005 - acc: 0.8371
Epoch 22/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4000 - acc: 0.8370
Epoch 23/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3995 - acc: 0.8377
Epoch 24/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3995 - acc: 0.8371
Epoch 25/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3993 - acc: 0.8377
Epoch 26/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3993 - acc: 0.8390
Epoch 27/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3989 - acc: 0.8375
Epoch 28/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3991 - acc: 0.8369
Epoch 29/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3982 - acc: 0.8374
Epoch 30/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3981 - acc: 0.8371
Epoch 31/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3986 - acc: 0.8386
Epoch 32/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3974 - acc: 0.8385
Epoch 33/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3983 - acc: 0.8390
Epoch 34/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3979 - acc: 0.8385
Epoch 35/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3979 - acc: 0.8380
Epoch 36/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3979 - acc: 0.8385
Epoch 37/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3979 - acc: 0.8371
Epoch 38/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3984 - acc: 0.8376
Epoch 39/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.3977 - acc: 0.8385
Epoch 40/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3973 - acc: 0.8366
Epoch 41/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3972 - acc: 0.8385
Epoch 42/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3970 - acc: 0.8371
Epoch 43/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.3975 - acc: 0.8390
Epoch 44/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3973 - acc: 0.8385
Epoch 45/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3979 - acc: 0.8364
Epoch 46/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3971 - acc: 0.8394
Epoch 47/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3970 - acc: 0.8397
Epoch 48/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3973 - acc: 0.8375
Epoch 49/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3974 - acc: 0.8391
Epoch 50/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3972 - acc: 0.8384
Epoch 51/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3971 - acc: 0.8382
Epoch 52/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3976 - acc: 0.8391
Epoch 53/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3973 - acc: 0.8386
Epoch 54/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.3974 - acc: 0.8400
Epoch 55/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3974 - acc: 0.8382
Epoch 56/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.3974 - acc: 0.8375
Epoch 57/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3972 - acc: 0.8366
Epoch 58/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3970 - acc: 0.8387
Epoch 59/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3976 - acc: 0.8375
Epoch 60/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3973 - acc: 0.8387
Epoch 61/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3971 - acc: 0.8376
Epoch 62/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3973 - acc: 0.8380
Epoch 63/100
 570/8000 [=>............................] - ETA: 1s - loss: 0.4363 - acc: 0.8070

## 3.3- Predicting the Test set results

In [ ]:
# We feed the test data into the model
y_pred = classifier.predict(X_test)
# We get probability values (between 0 and 1)
# For a 0.5 threshold we decide if the client will exit the Bank
y_pred = (y_pred > 0.5)
print(y_pred)

## 3.4- Creating the Confusion Matrix

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

In [ ]:
# Calculating the Accuracy of our model
accuracy = (cm[0,0]+cm[1,1]) * 100/ cm.sum()
print("The accuracy of our model is %2.1f %%" % accuracy)